/******************************************************************
Site Name: www.teda.id.au
Author: Ian Teda

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
IMPORTING STYLES
*********************/
/** Had to put imports in to compile less without erros **/
/* import reset */
/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/** Not sure if I should have this in or out?
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}
**/
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 0 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix {
  /* for IE */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.image-box-shadow {
  box-shadow: 0px 0px 0.5em #000000;
}
.center-div {
  margin: 0 auto;
}
.hover-transition {
  /** Transition to roll over color **/

  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -ms-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}
.menu-dropdown-transition {
  /** Transition to roll over color **/

  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -ms-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}
/*********************
DIMENSIONS
*********************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Based on Retro color theme: http://kuler.adobe.com/#themeID/1878614*/
/*********************
TYPOGRAPHY
*********************/
/* Font face kit gernerator http://www.fontsquirrel.com/fontface/generator */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/bebasneue-webfont.eot');
  src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BallparkWeiner';
  src: url('../fonts/ballpark_weiner-webfont.eot');
  src: url('../fonts/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ballpark_weiner-webfont.woff') format('woff'), url('../fonts/ballpark_weiner-webfont.ttf') format('truetype'), url('../fonts/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot');
  src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* alerts & notices */
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.help {
  border-color: #e8dc59;
  background: #ebe16f;
}
.info {
  border-color: #bfe4f4;
  background: #d5edf8;
}
.error {
  border-color: #f8cdce;
  background: #fbe3e4;
}
.success {
  border-color: #deeaae;
  background: #e6efc2;
}
.underlined {
  border-bottom: solid 1px #dcdcdc;
}
.overlined {
  border-top: solid 1px #dcdcdc;
}
/*********************
BORDER RADIUS
*********************/
/* .rounded(4px); */
/* NOTE: For older browser support (and some mobile), don't use the shorthand to define *different* corners. */
/* .rounded-left(4px); */
/* .rounded-right(4px); */
/* .rounded-bottom(4px); */
/* .rounded-top(4px); */
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdue it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* .boxSizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So 
probably best not to use it. I mean, were you going to anyway? */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0 0 4px #444); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #bbbbbb;
  border-top-color: #cacaca;
  border-left-color: #cacaca;
  padding: 3px 12px;
  color: #000000;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #d9d9d9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #d9d9d9);
  background-image: -moz-linear-gradient(top, #dcdcdc, #d9d9d9);
  background-image: -o-linear-gradient(top, #dcdcdc, #d9d9d9);
  background-image: linear-gradient(to bottom, #dcdcdc, #d9d9d9);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #bbbbbb;
  border-top-color: #a9a9a9;
  border-left-color: #a9a9a9;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#c3c3c3));
  background-image: -webkit-linear-gradient(top, #cfcfcf, #c3c3c3);
  background-image: -moz-linear-gradient(top, #cfcfcf, #c3c3c3);
  background-image: -o-linear-gradient(top, #cfcfcf, #c3c3c3);
  background-image: linear-gradient(to bottom, #cfcfcf, #c3c3c3);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #cfcfcf, #f01d4f);
  background-image: -moz-linear-gradient(top, #cfcfcf, #f01d4f);
  background-image: -o-linear-gradient(top, #cfcfcf, #f01d4f);
  background-image: linear-gradient(to bottom, #cfcfcf, #f01d4f);
}
.button-small,
.button-small:visited {
  border: 1px solid #bbbbbb;
  border-top-color: #cacaca;
  border-left-color: #cacaca;
  padding: 5px 8px;
  color: #5d5d5d;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*.css-gradient(@buttonColor,darken(@buttonColor, 2%));*/

}
.button-small:hover,
.button-small:visited:hover,
.button-small:focus,
.button-small:visited:focus {
  color: #1d1d1d;
  border: 1px solid #bbbbbb;
  border-top-color: #a9a9a9;
  border-left-color: #a9a9a9;
  background-color: #d7d7d7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -moz-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -o-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: linear-gradient(to bottom, #dcdcdc, #d7d7d7);
}
.button-small:active,
.button-small:visited:active {
  /*.css-gradient(darken(@buttonColor, 5%),@buttonColor);*/

}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/*********************
GENERAL STYLES
*********************/
body {
  font: 87.5%/1.5em "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  color: #656565;
  background-color: #f9f7ea;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
}
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 90%;
  margin: 0 auto;
}
article {
  margin-bottom: 24px;
}
article a img {
  margin-bottom: 12px;
}
.liquid-matrix {
  padding: 0;
}
.liquid-matrix li {
  width: 100%;
  display: block;
  margin-top: 24px;
}
.liquid-matrix li a {
  text-decoration: none;
  display: block;
}
.flexslider-container {
  display: none;
}
#sitemap-search-wrapper,
#sitemap-search,
#sitemap-search-form,
#sitemap-categories-wrapper,
#sitemap-tagclound-wrapper,
#sitemap-posts-wrapper,
#sitemap-pages-wrapper {
  margin-top: 24px;
}
#sitemap-tagclound-wrapper div {
  margin-top: 24px;
}
#sitemap-tagclound-wrapper div #clound-wrapper {
  margin-top: 24px;
}
#sitemap-search-form form #sitemap-search-box {
  float: left;
  width: 97%;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  color: #8f8f8f;
  line-height: 20px;
  padding-left: 12px;
}
#sitemap-search-form form:hover,
#sitemap-search-form form:focus {
  outline: #ab362e;
}
#sitemap-search-form form #sitemap-search-submit {
  margin-top: 24px;
  float: right;
}
.flxmap-container {
  margin-top: 24px;
}
/*
No Grid? Say Whaaaat?
There's really no need for all that
extraneous grid css since floating 
columns wouldn't really fit on such a 
small screen, so let's only bring it in
when we're ready for it.
*/
/*********************
IMAGE STYLES
*********************/
.book-cover {
  box-shadow: 0px 0px 0.5em #000000;
  /** Use image ration 0.66 W/H **/

  max-width: 150px;
  width: 75px;
  max-height: 225px;
  height: 112.5px;
  padding: 1px;
}
.album-cover,
.instagram-image {
  box-shadow: 0px 0px 0.5em #000000;
  max-width: 174px;
  width: 75px;
  max-height: 174px;
  height: 75px;
  padding: 1px;
}
.footer-icon {
  max-width: 32px;
  width: 24px;
  max-height: 32px;
  height: 24px;
  padding: 1px;
}
/** Add transparent caption to image **/
.caption {
  position: absolute;
  padding: 0.25em;
  top: 3em;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* Resize image to suit screen size */
.resizeable {
  display: block;
  height: auto;
  max-width: 100%;
}
/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: #25706b;
  text-decoration: none;
  /** Transition to roll over color **/

  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -ms-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #ab362e;
}
a:link,
a:visited:link {
  /* 
		this highlights links on iPhones/iPads. 
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.post-tags-archive a {
  border: 1px solid #bbbbbb;
  border-top-color: #cacaca;
  border-left-color: #cacaca;
  padding: 5px 8px;
  color: #5d5d5d;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*.css-gradient(@buttonColor,darken(@buttonColor, 2%));*/

}
.post-tags-archive a:hover,
.post-tags-archive a:focus {
  color: #1d1d1d;
  border: 1px solid #bbbbbb;
  border-top-color: #a9a9a9;
  border-left-color: #a9a9a9;
  background-color: #d7d7d7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -moz-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -o-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: linear-gradient(to bottom, #dcdcdc, #d7d7d7);
}
.post-tags-archive a:active {
  /*.css-gradient(darken(@buttonColor, 5%),@buttonColor);*/

}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  /**text-rendering : optimizelegibility;**/

  font-family: OpenSansExtraBold, "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 24px;
  margin: 0;
  /* Add heading margin to post subclass */

  /* 
	if you're going to use webfonts, be sure to check your weights 
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 17px;
}
h4,
.h4 {
  font-size: 15px;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 14px;
  font-weight: 400;
}
.underlined {
  border-bottom: solid 1px #dcdcdc;
}
.overlined {
  border-top: solid 1px #dcdcdc;
}
.index-heading {
  border-bottom: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}
.index-heading .index-heading-more {
  display: none;
}
/*********************
HEADER SYTLES
*********************/
.header {
  border-top: 6px solid #3d2423;
  height: 48px;
  background-color: #ffffff;
  border-bottom: 1px solid #3d2423;
}
.header #inner-header .logo {
  font-family: BebasNeueRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 44px;
  padding-top: 4px;
}
.header #inner-header .logo span {
  color: #000000;
}
.description {
  margin: 24px 0 0 0;
  font-size: 17px;
  font-weight: 300;
}
#page-header-image-wrapper {
  margin-top: 24px;
}
/*********************
NAVIGATION STYLES
*********************/
/* 
all navs have a .nav class applied via
the wp_menu function, this is so we can
easily just write on group of styles for
the navs on the site and our css is cleaner
and moe scalable.
*/
/* .menu is clearfixed inside mixins.scss */
/* end .menu */
select {
  -webkit-appearance: none;
  /* Fix for Mobile Safari */

  background-color: #f8f8f8;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 10px;
  border-radius: 0;
  color: #656565;
}
select {
  height: 36px;
  width: 100%;
}
/*********************
MENU STYLES
*********************/
#main-menu {
  /** Menu in Wordpress needs to named "Main Navigation" same as div **/

  display: none ;
  /** Hide for mobiles  **/
}
#main-menu-dropdown {
  margin-top: 24px;
}
#main-menu-dropdown .dropdown {
  background-image: url(../images/ic_select_button.png);
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
}
/*********************
LIST STYLES
*********************/
#latest-post-list {
  padding: 0;
  max-height: 1590px;
  overflow: hidden;
}
#latest-post-list li {
  width: 100%;
  display: block;
  margin-top: 24px;
}
#latest-post-list li a {
  text-decoration: none;
  display: block;
}
#latest-post-list li a {
  width: 220px;
  margin: 0 auto;
  border-bottom: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}
#latest-post-list li a img {
  display: block;
}
#latest-post-list li a h4 {
  padding-top: 36px;
}
#latest-post-list li a span {
  display: block;
  padding-bottom: 20px;
  margin-top: -4px;
  font-style: italic;
  color: #8f8f8f;
}
#post-category-list {
  padding: 0;
  list-style: none;
}
#post-category-list li {
  width: 100%;
  display: block;
  margin-top: 24px;
}
#post-category-list li a {
  text-decoration: none;
  display: block;
}
#post-category-list li {
  float: left;
  width: 25%;
  text-align: center;
}
#post-category-list li a {
  width: 95%;
  max-width: 220px;
  margin: 0 auto;
}
#post-category-list li a h4 {
  display: none;
}
#post-category-list li a span {
  display: none;
}
.image-matrix {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  min-width: 300px;
  /** Might make this a fixed width??? **/

}
.image-matrix li {
  float: left;
  width: 33.333333333333336%;
  margin-top: 24px;
}
.image-matrix li a {
  display: block;
  text-align: center;
  /** Not sure if this will center image across all browsers**/

}
.archive-year {
  border-top: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
  margin: 24px 0 0 0;
}
#photo-archive-list {
  padding: 0;
}
#photo-archive-list li {
  width: 100%;
  display: block;
  margin-top: 24px;
}
#photo-archive-list li a {
  text-decoration: none;
  display: block;
}
#photo-archive-list li a {
  width: 220px;
  margin: 0 auto;
}
#photo-archive-list li a img {
  display: block;
}
.social-list {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 300px;
}
.social-list li {
  float: left;
  width: 14.285714285714286%;
}
.social-list li a {
  display: block;
  text-align: center;
  /** Not sure if this will center image across all browsers**/

}
#search-results .new-year,
#blog-archive .new-year,
#archive .new-year {
  margin-top: 24px;
  border-top: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
}
#search-results .post-excerpt,
#blog-archive .post-excerpt,
#archive .post-excerpt {
  margin-top: 12px;
}
#search-results .post-archive-meta,
#blog-archive .post-archive-meta,
#archive .post-archive-meta {
  font-style: italic;
}
.post-archive-title a span {
  color: #000000;
}
#blog-archive article section li {
  overflow: hidden;
}
#blog-archive article section li a {
  height: 100px;
  padding: 12px 0;
}
#blog-archive article section li a img {
  float: left;
}
#blog-archive article section li a h4 {
  margin: 0;
  padding-left: 37px;
  /** Unable to align text top **/

  margin-top: -7px;
}
#blog-archive article section li a span p {
  display: block;
  padding-left: 37px;
  color: #8f8f8f;
}
.numbered-list,
.wppp_list {
  font-style: italic;
  color: #ab362e;
  line-height: 24px;
  margin: 0 0 0 20px;
  /** Pad in the numbers **/

  padding: 0;
}
.numbered-list li,
.wppp_list li {
  display: list-item;
  margin-top: 24px;
}
.numbered-list li a,
.wppp_list li a {
  font-size: 15px;
  font-style: normal;
  text-transform: uppercase;
  font-family: OpenSansExtraBold, "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}
.numbered-list li a span,
.wppp_list li a span {
  color: #000000;
}
.numbered-list li a p,
.wppp_list li a p {
  text-transform: none;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  color: #656565;
  margin-top: -8px;
  font-style: italic;
}
#sitemap-pages-list,
#sitemap-categories-list {
  margin-top: 24px;
  list-style: none;
}
#sitemap-pages-list li,
#sitemap-categories-list li {
  /**text-rendering : optimizelegibility;**/

  font-family: OpenSansExtraBold, "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 24px;
  margin: 0;
  /* Add heading margin to post subclass */

  /* 
	if you're going to use webfonts, be sure to check your weights 
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

  font-size: 17px;
  border-top: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
  margin-top: 24px;
}
#sitemap-pages-list li a,
#sitemap-categories-list li a {
  text-decoration: none;
}
#sitemap-pages-list li a,
#sitemap-categories-list li a {
  color: #656565;
}
#sitemap-pages-list li ul,
#sitemap-categories-list li ul {
  list-style: none;
}
#sitemap-pages-list li ul li,
#sitemap-categories-list li ul li {
  /**text-rendering : optimizelegibility;**/

  font-family: OpenSansExtraBold, "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 24px;
  margin: 0;
  /* Add heading margin to post subclass */

  /* 
	if you're going to use webfonts, be sure to check your weights 
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

  font-size: 15px;
  font-weight: 400;
  border: none;
  margin: 0;
}
#sitemap-pages-list li ul li a,
#sitemap-categories-list li ul li a {
  text-decoration: none;
}
#sitemap-pages-list li ul li a,
#sitemap-categories-list li ul li a {
  color: #25706b;
}
#post-image-list li {
  list-style: none;
  margin-top: 12px;
}
#post-image-list li a img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 0.5em #000000;
}
#related-posts ol li {
  margin-top: 12px;
}
#lastfm-records,
#library-bookself-read {
  padding: 0;
}
#lastfm-records li,
#library-bookself-read li {
  width: 100%;
  display: block;
  margin-top: 24px;
}
#lastfm-records li a,
#library-bookself-read li a {
  text-decoration: none;
  display: block;
}
#lastfm-records li,
#library-bookself-read li {
  float: left;
  width: 33.333333333333336%;
  text-align: center;
}
/*********************
     POST STYLES
*********************/
/** single.php post style **/
.post {
  /** Post header **/

  /** end post-header **/

  /* post content */

  /* end .post-content */

  /** Post footer **/

  /** end post-footer **/

}
.post .post-header {
  /** Post title **/

  /** end post-title **/

  /** Post feature image style **/

  /** end post-feature-image **/

  /** Post tags **/

  /** end post-tags **/

}
.post .post-header .post-title {
  border-bottom: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  /** Navigation within post title **/

}
.post .post-header .post-title .post-title-navigation {
  float: right;
}
.post .post-header .post-title .post-title-navigation a {
  font: 12px "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}
.post .post-header .post-feature-image {
  display: block;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 0px 0.5em #000000;
  margin: 24px auto 0 auto;
}
.post .post-header .post-tags {
  margin-top: 24px;
}
.post .post-header .post-tags a {
  border: 1px solid #bbbbbb;
  border-top-color: #cacaca;
  border-left-color: #cacaca;
  padding: 5px 8px;
  color: #5d5d5d;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*.css-gradient(@buttonColor,darken(@buttonColor, 2%));*/

}
.post .post-header .post-tags a:hover,
.post .post-header .post-tags a:focus {
  color: #1d1d1d;
  border: 1px solid #bbbbbb;
  border-top-color: #a9a9a9;
  border-left-color: #a9a9a9;
  background-color: #d7d7d7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -moz-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: -o-linear-gradient(top, #dcdcdc, #d7d7d7);
  background-image: linear-gradient(to bottom, #dcdcdc, #d7d7d7);
}
.post .post-header .post-tags a:active {
  /*.css-gradient(darken(@buttonColor, 5%),@buttonColor);*/

}
.post .post-content {
  margin-top: 24px;
  min-height: 250px;
  /*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning 
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/

}
.post .post-content p {
  margin-top: 12px;
}
.post .post-content ul,
.post .post-content ol,
.post .post-content table,
.post .post-content dl {
  margin: 0;
  padding: 0 0 0 24px;
}
.post .post-content ul li {
  list-style: none;
}
.post .post-content blockquote {
  background: #f8f8f8 url(../images/quote.png) no-repeat 17px 21px;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  padding: 24px 24px 24px 48px;
}
.post .post-content blockquote small {
  font-size: 12px;
}
.post .post-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.post .post-content img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 0.5em #000000;
}
.post .post-content video,
.post .post-content object {
  max-width: 100%;
}
.post .post-content pre,
.post .post-content code {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
.post .post-footer .post-footer-meta {
  margin-top: 24px;
  text-align: center;
  font-style: italic;
  line-height: 24px;
  padding: 12px 0;
  border-bottom: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
}
.post .post-footer .post-footer-images {
  margin-top: 24px;
}
/** single.php style for photo and video posts **/
.photo-post .post-header .post-feature-image,
.video-post .post-header .post-feature-image {
  display: none;
  /** Don't show feature image for video and photo posts **/

}
/** single.php style for video posts **/
.video-post .post-content p {
  margin: 0;
}
.category-photo .post-content {
  text-align: center;
}
.category-photo .post-content img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */.wp-caption {
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */

}
.wp-caption img {
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles *//******************************************************************
PAGE NAVI STYLES
******************************************************************/
.subpage-navigation {
  border-bottom: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.subpage-navigation li {
  display: inline;
  padding: 0 12px;
}
.subpage-navigation li a {
  text-decoration: none;
  line-height: 48px;
}
#page-navigation-wrapper {
  text-align: center;
  margin-top: 24px;
}
.bones_page_navi {
  width: 290px;
  margin: 0 auto;
  /* current page link */
  /* end .bones_page_navi .bpn-current */

  /* common styles for page-navi links */

  /* remove the bg on end links */

  /* previous link */

  /* next page link */
  /* first page link */

  /* last page link */

}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */

}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */

}
.commentlist {
  /* general comment classes */

  /* vcard */

  /* end .commentlist .vcard */

  /* comment meta */

  /* comment content */

  /* end .commentlist .comment_content */

  /* comment reply link */

  /* end .commentlist .comment-reply-link */

}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */

}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
  /* variations */

  /* change number for different depth */

}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */

}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */

}
/*********************
ARCHIVE STYLES
*********************/
.blog-archive-post h4,
.archive-post h4 {
  display: block;
}
.blog-archive-post h4 a,
.archive-post h4 a {
  text-decoration: none;
}
.blog-archive-post p,
.archive-post p {
  font-style: italic;
}
#photo-archive-post-container {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
}
/*********************
FOOTER STYLES
*********************/
.footer {
  margin-top: 24px;
  min-height: 36px;
  background-color: #dcdcdc;
  color: #656565;
  border-top: 1px solid #ab362e;
}
.copyright {
  font-family: BebasNeueRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 48px;
  text-align: center;
}
.copyright a {
  color: #000000;
}
#resize-me {
  display: none;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to 
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
