/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
LIST STYLES
*********************/

#latest-post-list {
	li {
		width: 100% / 4;
	}
}

#popular-post-list {
	li {
		width: 100% / 2;
	}
}

#library-bookself-read {
	li {
		width: 100% / 7;
	}
}
