/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
IMPORTING STYLES
*********************/
/** Had to put imports in to compile less without erros **/
/* import reset */
@import "normalize.less";
/* import mixins */
@import "mixins.less";


/*********************
HEADER SYTLES
*********************/

.header {
}

#logo {}


/*********************
LAYOUT & GRID STYLES
*********************/


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
.underlined {
	span {
		display: block;
		float: right;
		a {
			font: @font-size-6 @sans-serif;
		}
	}
}

/*********************
IMAGE STYLES
*********************/
.book-cover {
	/** Use image ration 0.66 W/H **/
	width: 100px;
	height: 150px;
}

.album-cover,
.instagram-photo {
	width: 100px;
	height: 100px;
}

/**************************
NAVIGATION AND LIST STYLES
**************************/
/* .menu is clearfixed inside mixins.scss */
.menu {
} /* end .menu */

.nav {
	border: 0;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		a {
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
		
			}
		}
		/** 
		Plan your menus and drop-downs wisely. 
		**/
		ul.sub-menu,
		ul.children {
			/** Hide submenus for this screen size as more then likely touch screen **/
			display: none; 
		}
				
		/* showing sub-menus */
		&:hover ul {
			/** Hide submenus for this screen size as more then likely touch screen **/
			display: none; 
		}
				
	} /* end .menu ul li */
			
	/* highlight current page */
	li.current-menu-item, 
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */
	
} /* end .nav */

#photo-archive-list {
	li {
		float: left;
		width: 100% / 2;
	}
}

/*********************
MENU STYLES
*********************/
#main-menu {
	display: block;
	float: right;
	min-width: 433px;
	width: 100%;
	.underlined;
	ul {
		text-align: center;
		li {
			float: left;
			width: 100% / 9;
			display: inline;
			line-height: (@vertSpacing * 2);
			 a {

			 }
		}
	}
}

#main-menu-dropdown {
	display: none;
}

/*********************
LIST STYLES
*********************/

#latest-post-list {
	max-height: @latest-post-height * 3;
	overflow: hidden;
	li {
		float: left;
		width: 100% / 2;
	}
}

#popular-post-list {
	li {
		float: left;
		width: 100% / 2;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* post content */
.post-content {
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .post-content */

/*********************
FOOTER STYLES
*********************/


/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
